<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">

  <div class="sidebar-logo" style="align:center">
    <img src="../imgs/sidebar_logo.png" />
  </div>
  <div id="contact-list" style="text-align:center">
    
      <a href="https://www.linkedin.com/in/prasann-viswanathan-013b051a7/">
        <span class="fa-stack fa-lg">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-linkedin fa-stack-1x"></i>
        </span>
      </a>
      <a href="https://github.com/iamprasann">
        <span class="fa-stack fa-lg">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-github-alt fa-stack-1x"></i>
        </span>
      </a>
      <a href="mailto:iamprasannn[at]gmail[dot]com">
        <span class="fa-stack fa-lg">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-envelope fa-stack-1x"></i>
        </span>
      </a><a href="https://www.facebook.com/prasann.viswanathan/">
        <span class="fa-stack fa-lg">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-facebook-f fa-stack-1x"></i>
        </span>
      </a>
      <a href="https://www.instagram.com/iam_prasannn/">
        <span class="fa-stack fa-lg">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-instagram fa-stack-1x"></i>
        </span>
      </a>
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>
  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/about">About Me</a>

    <span class="sidebar-nav-item">Currently v3.1</span>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; 2021 by Prsn
    </p>
  </div>
</div>
